In [44]:
import numpy as np 
import pandas as pd

In [45]:
train_1 = pd.read_csv('../input/janatahack-crosssell-prediction/train.csv')
test_1 = pd.read_csv('../input/janatahack-crosssell-prediction/test.csv')

In [46]:
train_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381109 entries, 0 to 381108
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    381109 non-null  int64
 1   Gender                381109 non-null  object
 2   Age                   381109 non-null  int64
 3   Driving_License       381109 non-null  int64
 4   Region_Code           381109 non-null  float64
 5   Previously_Insured    381109 non-null  int64
 6   Vehicle_Age           381109 non-null  object
 7   Vehicle_Damage        381109 non-null  object
 8   Annual_Premium        381109 non-null  float64
 9   Policy_Sales_Channel  381109 non-null  float64
 10  Vintage               381109 non-null  int64
 11  Response              381109 non-null  int64
dtypes: float64(3), int64(6), object(3)
memory usage: 34.9+ MB

In [47]:
train_1

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...
381104,381105,Male,74,1,26.0,1,1-2 Year,No,30170.0,26.0,88,0
381105,381106,Male,30,1,37.0,1,< 1 Year,No,40016.0,152.0,131,0
381106,381107,Male,21,1,30.0,1,< 1 Year,No,35118.0,160.0,161,0
381107,381108,Female,68,1,14.0,0,> 2 Years,Yes,44617.0,124.0,74,0
381108,381109,Male,46,1,29.0,0,1-2 Year,No,41777.0,26.0,237,0

In [48]:
test_1

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage
0,381110,Male,25,1,11.0,1,< 1 Year,No,35786.0,152.0,53
1,381111,Male,40,1,28.0,0,1-2 Year,Yes,33762.0,7.0,111
2,381112,Male,47,1,28.0,0,1-2 Year,Yes,40050.0,124.0,199
3,381113,Male,24,1,27.0,1,< 1 Year,Yes,37356.0,152.0,187
4,381114,Male,27,1,28.0,1,< 1 Year,No,59097.0,152.0,297
...,...,...,...,...,...,...,...,...,...,...,...
127032,508142,Female,26,1,37.0,1,< 1 Year,No,30867.0,152.0,56
127033,508143,Female,38,1,28.0,0,1-2 Year,Yes,28700.0,122.0,165
127034,508144,Male,21,1,46.0,1,< 1 Year,No,29802.0,152.0,74
127035,508145,Male,71,1,28.0,1,1-2 Year,No,62875.0,26.0,265
127036,508146,Male,41,1,29.0,1,1-2 Year,No,27927.0,124.0,231

In [49]:
test_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127037 entries, 0 to 127036
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    127037 non-null  int64
 1   Gender                127037 non-null  object
 2   Age                   127037 non-null  int64
 3   Driving_License       127037 non-null  int64
 4   Region_Code           127037 non-null  float64
 5   Previously_Insured    127037 non-null  int64
 6   Vehicle_Age           127037 non-null  object
 7   Vehicle_Damage        127037 non-null  object
 8   Annual_Premium        127037 non-null  float64
 9   Policy_Sales_Channel  127037 non-null  float64
 10  Vintage               127037 non-null  int64
dtypes: float64(3), int64(5), object(3)
memory usage: 10.7+ MB

In [50]:
train_1['type'] = 0
test_1['Response'] = 0
test_1['type'] = 1
master_1 = pd.concat([train_1,test_1], axis = 0)
master_1

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response,type
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1,0
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1,0
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
127032,508142,Female,26,1,37.0,1,< 1 Year,No,30867.0,152.0,56,0,1
127033,508143,Female,38,1,28.0,0,1-2 Year,Yes,28700.0,122.0,165,0,1
127034,508144,Male,21,1,46.0,1,< 1 Year,No,29802.0,152.0,74,0,1
127035,508145,Male,71,1,28.0,1,1-2 Year,No,62875.0,26.0,265,0,1
127036,508146,Male,41,1,29.0,1,1-2 Year,No,27927.0,124.0,231,0,1

In [51]:
from sklearn.preprocessing import LabelEncoder as le
master_1[['Vehicle_Damage','Gender']] = master_1[['Vehicle_Damage','Gender']].apply(le().fit_transform)
master_1['Vehicle_Age'] = master_1['Vehicle_Age'].replace({'> 2 Years':2,'< 1 Year':0,'1-2 Year':1})
master_1

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response,type
0,1,1,44,1,28.0,0,2,1,40454.0,26.0,217,1,0
1,2,1,76,1,3.0,0,1,0,33536.0,26.0,183,0,0
2,3,1,47,1,28.0,0,2,1,38294.0,26.0,27,1,0
3,4,1,21,1,11.0,1,0,0,28619.0,152.0,203,0,0
4,5,0,29,1,41.0,1,0,0,27496.0,152.0,39,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
127032,508142,0,26,1,37.0,1,0,0,30867.0,152.0,56,0,1
127033,508143,0,38,1,28.0,0,1,1,28700.0,122.0,165,0,1
127034,508144,1,21,1,46.0,1,0,0,29802.0,152.0,74,0,1
127035,508145,1,71,1,28.0,1,1,0,62875.0,26.0,265,0,1
127036,508146,1,41,1,29.0,1,1,0,27927.0,124.0,231,0,1

import seaborn as sns
sns.heatmap(master_1.corr())

In [105]:
cols_cat = ['Gender','Driving_License','Previously_Insured','Vehicle_Damage','Vehicle_Age','Region_Code']

In [106]:
cols_ignore = ['id','type']
cols_y = ['Response']
cols_X = list(set(master_1.columns) - set(cols_ignore) - set(cols_y))

In [107]:
X = master_1[master_1['type']==0][cols_X]
X_test = master_1[master_1['type'] == 1][cols_X]
y = master_1[master_1['type']==0][cols_y]

In [108]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X,y,test_size=0.4)

In [109]:
import lightgbm as lgb
from lightgbm import LGBMClassifier
lgb = LGBMClassifier(n_estimators=55, num_leaves = 100, learning_rate = 0.08, max_depth = 50)

In [119]:
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.metrics import roc_auc_score
sss = StratifiedShuffleSplit(n_splits=5, test_size=0.4, random_state=0)
n = 1
y_preds = []
for train_index, val_index in sss.split(X, y):
    print("TRAIN:", train_index, "VALIDATION:", val_index)
    X_train, X_val = X.iloc[train_index,:], X.iloc[val_index,:]
    y_train, y_val = y.iloc[train_index,:], y.iloc[val_index,:]
    clf = lgb.fit(X_train, y_train ,eval_metric='auc',eval_set=(X_val,y_val),verbose = 2,categorical_feature=cols_cat)
    print(str(n)+'. Train:',roc_auc_score(y_train,clf.predict_proba(X_train)[:,1]),'Validation:',roc_auc_score(y_val,clf.predict_proba(X_val)[:,1]))
    y_test = clf.predict_proba(X_test)[:, 1]
    y_preds.append(y_test)
    n = n+1

TRAIN: [197639 331623 147863 ...   5427 187901 303090] VALIDATION: [229974 257902 129046 ... 366522  66602  70734]

/opt/conda/lib/python3.7/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
/opt/conda/lib/python3.7/site-packages/lightgbm/basic.py:1295: UserWarning: categorical_feature in Dataset is overridden.
New categorical_feature is ['Driving_License', 'Gender', 'Previously_Insured', 'Region_Code', 'Vehicle_Age', 'Vehicle_Damage']
  'New categorical_feature is {}'.format(sorted(list(categorical_feature))))

[2]	valid_0's auc: 0.853511	valid_0's binary_logloss: 0.345682
[4]	valid_0's auc: 0.854181	valid_0's binary_logloss: 0.327874
[6]	valid_0's auc: 0.854736	valid_0's binary_logloss: 0.314901
[8]	valid_0's auc: 0.855134	valid_0's binary_logloss: 0.305116
[10]	valid_0's auc: 0.855518	valid_0's binary_logloss: 0.29752
[12]	valid_0's auc: 0.85594	valid_0's binary_logloss: 0.291464
[14]	valid_0's auc: 0.856268	valid_0's binary_logloss: 0.286608
[16]	valid_0's auc: 0.856346	valid_0's binary_logloss: 0.282785
[18]	valid_0's auc: 0.856687	valid_0's binary_logloss: 0.279556
[20]	valid_0's auc: 0.85678	valid_0's binary_logloss: 0.276993
[22]	valid_0's auc: 0.856786	valid_0's binary_logloss: 0.274931
[24]	valid_0's auc: 0.856888	valid_0's binary_logloss: 0.273192
[26]	valid_0's auc: 0.856927	valid_0's binary_logloss: 0.271771
[28]	valid_0's auc: 0.856974	valid_0's binary_logloss: 0.270592
[30]	valid_0's auc: 0.857077	valid_0's binary_logloss: 0.269586
[32]	valid_0's auc: 0.857198	valid_0's binary_logloss: 0.268718
[34]	valid_0's auc: 0.85722	valid_0's binary_logloss: 0.268032
[36]	valid_0's auc: 0.85727	valid_0's binary_logloss: 0.267462
[38]	valid_0's auc: 0.857256	valid_0's binary_logloss: 0.267006
[40]	valid_0's auc: 0.857269	valid_0's binary_logloss: 0.26662
[42]	valid_0's auc: 0.857277	valid_0's binary_logloss: 0.266301
[44]	valid_0's auc: 0.857307	valid_0's binary_logloss: 0.266039
[46]	valid_0's auc: 0.85727	valid_0's binary_logloss: 0.265832
[48]	valid_0's auc: 0.85718	valid_0's binary_logloss: 0.265704
[50]	valid_0's auc: 0.857131	valid_0's binary_logloss: 0.265595
[52]	valid_0's auc: 0.857107	valid_0's binary_logloss: 0.265492
[54]	valid_0's auc: 0.857047	valid_0's binary_logloss: 0.265417
1. Train: 0.8777071573385762 Validation: 0.8570884231394029
TRAIN: [293038   1163 110601 ... 170431 208308 294751] VALIDATION: [282433 309874  72634 ... 127782  66953 188469]

/opt/conda/lib/python3.7/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
/opt/conda/lib/python3.7/site-packages/lightgbm/basic.py:1295: UserWarning: categorical_feature in Dataset is overridden.
New categorical_feature is ['Driving_License', 'Gender', 'Previously_Insured', 'Region_Code', 'Vehicle_Age', 'Vehicle_Damage']
  'New categorical_feature is {}'.format(sorted(list(categorical_feature))))

[2]	valid_0's auc: 0.854411	valid_0's binary_logloss: 0.345628
[4]	valid_0's auc: 0.854943	valid_0's binary_logloss: 0.327775
[6]	valid_0's auc: 0.855519	valid_0's binary_logloss: 0.314739
[8]	valid_0's auc: 0.85597	valid_0's binary_logloss: 0.304929
[10]	valid_0's auc: 0.856313	valid_0's binary_logloss: 0.297302
[12]	valid_0's auc: 0.856749	valid_0's binary_logloss: 0.291222
[14]	valid_0's auc: 0.856978	valid_0's binary_logloss: 0.286396
[16]	valid_0's auc: 0.857067	valid_0's binary_logloss: 0.282538
[18]	valid_0's auc: 0.857361	valid_0's binary_logloss: 0.2793
[20]	valid_0's auc: 0.857533	valid_0's binary_logloss: 0.276699
[22]	valid_0's auc: 0.857541	valid_0's binary_logloss: 0.274622
[24]	valid_0's auc: 0.857655	valid_0's binary_logloss: 0.272867
[26]	valid_0's auc: 0.857673	valid_0's binary_logloss: 0.271446
[28]	valid_0's auc: 0.85769	valid_0's binary_logloss: 0.270276
[30]	valid_0's auc: 0.857726	valid_0's binary_logloss: 0.269291
[32]	valid_0's auc: 0.857834	valid_0's binary_logloss: 0.268433
[34]	valid_0's auc: 0.857892	valid_0's binary_logloss: 0.267737
[36]	valid_0's auc: 0.85791	valid_0's binary_logloss: 0.267174
[38]	valid_0's auc: 0.857916	valid_0's binary_logloss: 0.266714
[40]	valid_0's auc: 0.857894	valid_0's binary_logloss: 0.266344
[42]	valid_0's auc: 0.857886	valid_0's binary_logloss: 0.266022
[44]	valid_0's auc: 0.857878	valid_0's binary_logloss: 0.265753
[46]	valid_0's auc: 0.857867	valid_0's binary_logloss: 0.265546
[48]	valid_0's auc: 0.857855	valid_0's binary_logloss: 0.265371
[50]	valid_0's auc: 0.857866	valid_0's binary_logloss: 0.265217
[52]	valid_0's auc: 0.857831	valid_0's binary_logloss: 0.265124
[54]	valid_0's auc: 0.857806	valid_0's binary_logloss: 0.26503
2. Train: 0.8767671989698472 Validation: 0.8577977443119718
TRAIN: [281352 257811 172942 ...  39709  33366 201747] VALIDATION: [167456  42897 142463 ... 378548 287115 233305]

/opt/conda/lib/python3.7/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
/opt/conda/lib/python3.7/site-packages/lightgbm/basic.py:1295: UserWarning: categorical_feature in Dataset is overridden.
New categorical_feature is ['Driving_License', 'Gender', 'Previously_Insured', 'Region_Code', 'Vehicle_Age', 'Vehicle_Damage']
  'New categorical_feature is {}'.format(sorted(list(categorical_feature))))

[2]	valid_0's auc: 0.853844	valid_0's binary_logloss: 0.345735
[4]	valid_0's auc: 0.85465	valid_0's binary_logloss: 0.327879
[6]	valid_0's auc: 0.855324	valid_0's binary_logloss: 0.31484
[8]	valid_0's auc: 0.855586	valid_0's binary_logloss: 0.305044
[10]	valid_0's auc: 0.855861	valid_0's binary_logloss: 0.297438
[12]	valid_0's auc: 0.855999	valid_0's binary_logloss: 0.291498
[14]	valid_0's auc: 0.856012	valid_0's binary_logloss: 0.286748
[16]	valid_0's auc: 0.856132	valid_0's binary_logloss: 0.282902
[18]	valid_0's auc: 0.856384	valid_0's binary_logloss: 0.279719
[20]	valid_0's auc: 0.856565	valid_0's binary_logloss: 0.277116
[22]	valid_0's auc: 0.85663	valid_0's binary_logloss: 0.275024
[24]	valid_0's auc: 0.856746	valid_0's binary_logloss: 0.27329
[26]	valid_0's auc: 0.856849	valid_0's binary_logloss: 0.271845
[28]	valid_0's auc: 0.85701	valid_0's binary_logloss: 0.27063
[30]	valid_0's auc: 0.857084	valid_0's binary_logloss: 0.269643
[32]	valid_0's auc: 0.857153	valid_0's binary_logloss: 0.268824
[34]	valid_0's auc: 0.857134	valid_0's binary_logloss: 0.268181
[36]	valid_0's auc: 0.857145	valid_0's binary_logloss: 0.267633
[38]	valid_0's auc: 0.857194	valid_0's binary_logloss: 0.267174
[40]	valid_0's auc: 0.857237	valid_0's binary_logloss: 0.266772
[42]	valid_0's auc: 0.857238	valid_0's binary_logloss: 0.26646
[44]	valid_0's auc: 0.857196	valid_0's binary_logloss: 0.266234
[46]	valid_0's auc: 0.857158	valid_0's binary_logloss: 0.266057
[48]	valid_0's auc: 0.857132	valid_0's binary_logloss: 0.265883
[50]	valid_0's auc: 0.857177	valid_0's binary_logloss: 0.265742
[52]	valid_0's auc: 0.857143	valid_0's binary_logloss: 0.265626
[54]	valid_0's auc: 0.857116	valid_0's binary_logloss: 0.265545
3. Train: 0.877521442537087 Validation: 0.8571050330416654
TRAIN: [149623   5431  85164 ... 214007 359308 297627] VALIDATION: [128424 368943 288373 ... 258455  40238 183277]

/opt/conda/lib/python3.7/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
/opt/conda/lib/python3.7/site-packages/lightgbm/basic.py:1295: UserWarning: categorical_feature in Dataset is overridden.
New categorical_feature is ['Driving_License', 'Gender', 'Previously_Insured', 'Region_Code', 'Vehicle_Age', 'Vehicle_Damage']
  'New categorical_feature is {}'.format(sorted(list(categorical_feature))))

[2]	valid_0's auc: 0.855005	valid_0's binary_logloss: 0.345616
[4]	valid_0's auc: 0.855884	valid_0's binary_logloss: 0.327691
[6]	valid_0's auc: 0.856432	valid_0's binary_logloss: 0.314624
[8]	valid_0's auc: 0.856791	valid_0's binary_logloss: 0.304759
[10]	valid_0's auc: 0.856951	valid_0's binary_logloss: 0.297126
[12]	valid_0's auc: 0.857192	valid_0's binary_logloss: 0.291086
[14]	valid_0's auc: 0.857251	valid_0's binary_logloss: 0.286313
[16]	valid_0's auc: 0.857408	valid_0's binary_logloss: 0.282384
[18]	valid_0's auc: 0.857609	valid_0's binary_logloss: 0.279159
[20]	valid_0's auc: 0.857809	valid_0's binary_logloss: 0.27654
[22]	valid_0's auc: 0.8579	valid_0's binary_logloss: 0.274403
[24]	valid_0's auc: 0.857962	valid_0's binary_logloss: 0.272653
[26]	valid_0's auc: 0.858081	valid_0's binary_logloss: 0.271207
[28]	valid_0's auc: 0.858133	valid_0's binary_logloss: 0.270004
[30]	valid_0's auc: 0.85817	valid_0's binary_logloss: 0.269002
[32]	valid_0's auc: 0.858193	valid_0's binary_logloss: 0.268175
[34]	valid_0's auc: 0.858155	valid_0's binary_logloss: 0.267524
[36]	valid_0's auc: 0.858132	valid_0's binary_logloss: 0.266966
[38]	valid_0's auc: 0.858165	valid_0's binary_logloss: 0.266488
[40]	valid_0's auc: 0.85815	valid_0's binary_logloss: 0.266118
[42]	valid_0's auc: 0.858142	valid_0's binary_logloss: 0.265808
[44]	valid_0's auc: 0.858126	valid_0's binary_logloss: 0.265553
[46]	valid_0's auc: 0.858085	valid_0's binary_logloss: 0.26534
[48]	valid_0's auc: 0.858088	valid_0's binary_logloss: 0.265151
[50]	valid_0's auc: 0.858053	valid_0's binary_logloss: 0.265014
[52]	valid_0's auc: 0.858119	valid_0's binary_logloss: 0.2649
[54]	valid_0's auc: 0.858083	valid_0's binary_logloss: 0.264824
4. Train: 0.8767308033541747 Validation: 0.8580599103581448
TRAIN: [269652  11151  50146 ... 270516 185078 129761] VALIDATION: [127055 149609 201256 ... 237818 236720  16676]

/opt/conda/lib/python3.7/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
/opt/conda/lib/python3.7/site-packages/lightgbm/basic.py:1295: UserWarning: categorical_feature in Dataset is overridden.
New categorical_feature is ['Driving_License', 'Gender', 'Previously_Insured', 'Region_Code', 'Vehicle_Age', 'Vehicle_Damage']
  'New categorical_feature is {}'.format(sorted(list(categorical_feature))))

[2]	valid_0's auc: 0.854484	valid_0's binary_logloss: 0.345597
[4]	valid_0's auc: 0.854934	valid_0's binary_logloss: 0.327821
[6]	valid_0's auc: 0.855947	valid_0's binary_logloss: 0.314722
[8]	valid_0's auc: 0.85641	valid_0's binary_logloss: 0.304836
[10]	valid_0's auc: 0.856817	valid_0's binary_logloss: 0.297182
[12]	valid_0's auc: 0.857094	valid_0's binary_logloss: 0.291172
[14]	valid_0's auc: 0.857339	valid_0's binary_logloss: 0.286364
[16]	valid_0's auc: 0.857456	valid_0's binary_logloss: 0.282488
[18]	valid_0's auc: 0.857695	valid_0's binary_logloss: 0.279289
[20]	valid_0's auc: 0.857918	valid_0's binary_logloss: 0.276678
[22]	valid_0's auc: 0.858075	valid_0's binary_logloss: 0.274534
[24]	valid_0's auc: 0.858141	valid_0's binary_logloss: 0.272767
[26]	valid_0's auc: 0.858257	valid_0's binary_logloss: 0.27132
[28]	valid_0's auc: 0.858317	valid_0's binary_logloss: 0.270147
[30]	valid_0's auc: 0.858382	valid_0's binary_logloss: 0.269154
[32]	valid_0's auc: 0.858547	valid_0's binary_logloss: 0.268256
[34]	valid_0's auc: 0.858649	valid_0's binary_logloss: 0.267548
[36]	valid_0's auc: 0.858683	valid_0's binary_logloss: 0.26698
[38]	valid_0's auc: 0.858678	valid_0's binary_logloss: 0.266502
[40]	valid_0's auc: 0.858678	valid_0's binary_logloss: 0.266117
[42]	valid_0's auc: 0.858648	valid_0's binary_logloss: 0.26583
[44]	valid_0's auc: 0.858671	valid_0's binary_logloss: 0.265546
[46]	valid_0's auc: 0.858694	valid_0's binary_logloss: 0.26531
[48]	valid_0's auc: 0.858687	valid_0's binary_logloss: 0.265143
[50]	valid_0's auc: 0.858667	valid_0's binary_logloss: 0.265011
[52]	valid_0's auc: 0.858653	valid_0's binary_logloss: 0.264904
[54]	valid_0's auc: 0.858622	valid_0's binary_logloss: 0.264825
5. Train: 0.8759207068732605 Validation: 0.8586403162257142
TRAIN: [361843 307349  76356 ... 303524 351749  27112] VALIDATION: [147114  94787  82384 ...  68475 104150 240268]

/opt/conda/lib/python3.7/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
/opt/conda/lib/python3.7/site-packages/lightgbm/basic.py:1295: UserWarning: categorical_feature in Dataset is overridden.
New categorical_feature is ['Driving_License', 'Gender', 'Previously_Insured', 'Region_Code', 'Vehicle_Age', 'Vehicle_Damage']
  'New categorical_feature is {}'.format(sorted(list(categorical_feature))))

[2]	valid_0's auc: 0.85195	valid_0's binary_logloss: 0.345722
[4]	valid_0's auc: 0.852995	valid_0's binary_logloss: 0.32798
[6]	valid_0's auc: 0.853122	valid_0's binary_logloss: 0.315163
[8]	valid_0's auc: 0.853516	valid_0's binary_logloss: 0.305426
[10]	valid_0's auc: 0.853856	valid_0's binary_logloss: 0.297895
[12]	valid_0's auc: 0.854147	valid_0's binary_logloss: 0.291969
[14]	valid_0's auc: 0.854355	valid_0's binary_logloss: 0.287227
[16]	valid_0's auc: 0.854468	valid_0's binary_logloss: 0.283442
[18]	valid_0's auc: 0.854611	valid_0's binary_logloss: 0.280353
[20]	valid_0's auc: 0.854725	valid_0's binary_logloss: 0.277812
[22]	valid_0's auc: 0.854828	valid_0's binary_logloss: 0.275744
[24]	valid_0's auc: 0.854935	valid_0's binary_logloss: 0.274032
[26]	valid_0's auc: 0.854975	valid_0's binary_logloss: 0.27264
[28]	valid_0's auc: 0.855082	valid_0's binary_logloss: 0.27147
[30]	valid_0's auc: 0.855105	valid_0's binary_logloss: 0.270515
[32]	valid_0's auc: 0.855095	valid_0's binary_logloss: 0.269736
[34]	valid_0's auc: 0.855163	valid_0's binary_logloss: 0.269059
[36]	valid_0's auc: 0.855207	valid_0's binary_logloss: 0.268499
[38]	valid_0's auc: 0.855283	valid_0's binary_logloss: 0.268022
[40]	valid_0's auc: 0.855309	valid_0's binary_logloss: 0.26767
[42]	valid_0's auc: 0.855308	valid_0's binary_logloss: 0.267368
[44]	valid_0's auc: 0.855335	valid_0's binary_logloss: 0.267107
[46]	valid_0's auc: 0.855363	valid_0's binary_logloss: 0.266882
[48]	valid_0's auc: 0.855316	valid_0's binary_logloss: 0.266735
[50]	valid_0's auc: 0.8553	valid_0's binary_logloss: 0.266606
[52]	valid_0's auc: 0.855287	valid_0's binary_logloss: 0.266501
[54]	valid_0's auc: 0.855252	valid_0's binary_logloss: 0.266425
6. Train: 0.8784061584196177 Validation: 0.8553040508410978
TRAIN: [188889  83893 144661 ... 199313 264644 179538] VALIDATION: [206048  12953 144893 ... 335009 349681 159567]

/opt/conda/lib/python3.7/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
/opt/conda/lib/python3.7/site-packages/lightgbm/basic.py:1295: UserWarning: categorical_feature in Dataset is overridden.
New categorical_feature is ['Driving_License', 'Gender', 'Previously_Insured', 'Region_Code', 'Vehicle_Age', 'Vehicle_Damage']
  'New categorical_feature is {}'.format(sorted(list(categorical_feature))))

[2]	valid_0's auc: 0.852422	valid_0's binary_logloss: 0.345692
[4]	valid_0's auc: 0.853012	valid_0's binary_logloss: 0.328024
[6]	valid_0's auc: 0.853767	valid_0's binary_logloss: 0.315053
[8]	valid_0's auc: 0.854146	valid_0's binary_logloss: 0.305259
[10]	valid_0's auc: 0.854341	valid_0's binary_logloss: 0.297746
[12]	valid_0's auc: 0.854783	valid_0's binary_logloss: 0.291774
[14]	valid_0's auc: 0.85506	valid_0's binary_logloss: 0.286991
[16]	valid_0's auc: 0.8552	valid_0's binary_logloss: 0.28317
[18]	valid_0's auc: 0.85533	valid_0's binary_logloss: 0.280074
[20]	valid_0's auc: 0.855596	valid_0's binary_logloss: 0.277488
[22]	valid_0's auc: 0.855654	valid_0's binary_logloss: 0.275442
[24]	valid_0's auc: 0.855749	valid_0's binary_logloss: 0.273733
[26]	valid_0's auc: 0.855815	valid_0's binary_logloss: 0.272315
[28]	valid_0's auc: 0.855926	valid_0's binary_logloss: 0.271138
[30]	valid_0's auc: 0.855981	valid_0's binary_logloss: 0.270171
[32]	valid_0's auc: 0.855996	valid_0's binary_logloss: 0.269385
[34]	valid_0's auc: 0.856065	valid_0's binary_logloss: 0.268695
[36]	valid_0's auc: 0.856071	valid_0's binary_logloss: 0.26816
[38]	valid_0's auc: 0.856058	valid_0's binary_logloss: 0.267725
[40]	valid_0's auc: 0.856064	valid_0's binary_logloss: 0.267368
[42]	valid_0's auc: 0.856046	valid_0's binary_logloss: 0.267073
[44]	valid_0's auc: 0.856029	valid_0's binary_logloss: 0.266823
[46]	valid_0's auc: 0.85595	valid_0's binary_logloss: 0.266652
[48]	valid_0's auc: 0.855946	valid_0's binary_logloss: 0.26651
[50]	valid_0's auc: 0.85594	valid_0's binary_logloss: 0.266377
[52]	valid_0's auc: 0.855921	valid_0's binary_logloss: 0.266277
[54]	valid_0's auc: 0.855868	valid_0's binary_logloss: 0.266205
7. Train: 0.8776599353270113 Validation: 0.8558885330590154
TRAIN: [151110 123917 218772 ... 379067  12898  11696] VALIDATION: [181360 317447 278415 ...  58330  62591  14404]

/opt/conda/lib/python3.7/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
/opt/conda/lib/python3.7/site-packages/lightgbm/basic.py:1295: UserWarning: categorical_feature in Dataset is overridden.
New categorical_feature is ['Driving_License', 'Gender', 'Previously_Insured', 'Region_Code', 'Vehicle_Age', 'Vehicle_Damage']
  'New categorical_feature is {}'.format(sorted(list(categorical_feature))))

[2]	valid_0's auc: 0.854	valid_0's binary_logloss: 0.345606
[4]	valid_0's auc: 0.854901	valid_0's binary_logloss: 0.327722
[6]	valid_0's auc: 0.85578	valid_0's binary_logloss: 0.314652
[8]	valid_0's auc: 0.855953	valid_0's binary_logloss: 0.304891
[10]	valid_0's auc: 0.856258	valid_0's binary_logloss: 0.297261
[12]	valid_0's auc: 0.856593	valid_0's binary_logloss: 0.291214
[14]	valid_0's auc: 0.856756	valid_0's binary_logloss: 0.286394
[16]	valid_0's auc: 0.857012	valid_0's binary_logloss: 0.282473
[18]	valid_0's auc: 0.857125	valid_0's binary_logloss: 0.279342
[20]	valid_0's auc: 0.857186	valid_0's binary_logloss: 0.276773
[22]	valid_0's auc: 0.857235	valid_0's binary_logloss: 0.274665
[24]	valid_0's auc: 0.857338	valid_0's binary_logloss: 0.272892
[26]	valid_0's auc: 0.857513	valid_0's binary_logloss: 0.271396
[28]	valid_0's auc: 0.857515	valid_0's binary_logloss: 0.270225
[30]	valid_0's auc: 0.857536	valid_0's binary_logloss: 0.269232
[32]	valid_0's auc: 0.85752	valid_0's binary_logloss: 0.268437
[34]	valid_0's auc: 0.857578	valid_0's binary_logloss: 0.267721
[36]	valid_0's auc: 0.857646	valid_0's binary_logloss: 0.267114
[38]	valid_0's auc: 0.857685	valid_0's binary_logloss: 0.266606
[40]	valid_0's auc: 0.857727	valid_0's binary_logloss: 0.26618
[42]	valid_0's auc: 0.857721	valid_0's binary_logloss: 0.265867
[44]	valid_0's auc: 0.857745	valid_0's binary_logloss: 0.265595
[46]	valid_0's auc: 0.857757	valid_0's binary_logloss: 0.265373
[48]	valid_0's auc: 0.857781	valid_0's binary_logloss: 0.265167
[50]	valid_0's auc: 0.857839	valid_0's binary_logloss: 0.265036
[52]	valid_0's auc: 0.857788	valid_0's binary_logloss: 0.264924
[54]	valid_0's auc: 0.857723	valid_0's binary_logloss: 0.264856
8. Train: 0.8769389331592947 Validation: 0.8577231736093825

In [120]:
y_preds_df = pd.DataFrame(y_preds).T
y_preds_df['Response'] = y_preds_df.mean(axis = 1)
y_preds_df

,0,1,2,3,4,5,6,7,Response
0,0.001847,0.001846,0.001831,0.001834,0.001868,0.001865,0.001887,0.001863,0.001855
1,0.338596,0.392453,0.290062,0.310676,0.336424,0.281901,0.302333,0.367426,0.327484
2,0.294444,0.291088,0.293400,0.295386,0.294320,0.303139,0.273228,0.288655,0.291707
3,0.006655,0.007432,0.007028,0.012348,0.006132,0.021623,0.007352,0.025329,0.011737
4,0.001847,0.001846,0.001831,0.001834,0.001868,0.001865,0.001887,0.001863,0.001855
...,...,...,...,...,...,...,...,...,...
127032,0.001847,0.001846,0.001831,0.001834,0.001868,0.001865,0.001887,0.001863,0.001855
127033,0.357252,0.358377,0.352828,0.362793,0.342346,0.335409,0.377877,0.343384,0.353783
127034,0.001847,0.001846,0.001831,0.001834,0.001868,0.001865,0.001887,0.001863,0.001855
127035,0.001839,0.001846,0.001831,0.001864,0.001884,0.001858,0.001901,0.001886,0.001864
127036,0.001855,0.001846,0.001831,0.009668,0.001952,0.001846,0.001901,0.002078,0.002872

In [121]:
sub_df = pd.concat([master_1[master_1['type'] == 1]['id'],y_preds_df['Response']], axis = 1)
#sub_df.columns = ['id','Response']
sub_csv = sub_df.to_csv('sub.csv', index = False)
sub_df

            id  Response
0       381110  0.001855
1       381111  0.327484
2       381112  0.291707
3       381113  0.011737
4       381114  0.001855
...        ...       ...
127032  508142  0.001855
127033  508143  0.353783
127034  508144  0.001855
127035  508145  0.001864
127036  508146  0.002872

[127037 rows x 2 columns]